* {
	font-family: 'Water Brush', cursive;
	box-sizing: border-box;
}

.main-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.first-container,
.second-container,
.third-container,
.fourth-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 25%;
	margin-left: 15px;
	margin-top: 15px;
}

h1 {
	margin-top: 32px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #ee6c4d;
}
.pic1,
.pic2,
.pic3,
.pic4 {
	position: relative;
	width: 100%;
	height: 165px;
	border-radius: 10px;
}
p {
	text-align: center;
	font-size: 12px;
	font-style: normal;
}
.pic1 {
	background-color: #9b9300;
	filter: invert(142%);
}

.pic2 {
	background-color: #fff75d;
	filter: invert(142%);
}
.pic3 {
	background-color: #20fcff;

	filter: invert(142%);
}
.pic4 {
	background-color: #999898;
	filter: invert(142%);
}
.bubble1,
.bubble2,
.bubble3,
.bubble4 {
	position: absolute;
	width: 20px;
	height: 20px;

	border-radius: 50%;
	text-align: center;
	font-size: 12px;
}
.bubble1 {
	left: 10px;
	top: 10px;
}
